/* h1::before {
    content:url(./party.png);;
} */

h1::after {
    content: "🎉";
}

p::first-line {
    color: red;
}

p::first-letter {
    color: green;
    font-size: 50px;
}

::selection {
    background-color: #f00;
    color: #fff;
}