html, body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height:25vh;
    background-color: #ccc;
    position: fixed;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center; /* if there is flex-wrap then only align content will work*/
    align-items: center;
}

.box {
    width: 200px;
    height: 100px;
   
}

.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.bg-blue {
    background-color: blue;
}